/* .container{
  background-color: rgb(9, 9, 60);
  color: aliceblue;
  display: flex;
  font-size: xx-large;
  margin: auto;
} */
.nav{
  display: flex;
  color: #ffff;
}
.about{
  font-size:400%;
  text-align: center;
}
.p1{
  font-size: xx-large;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.container3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: rgb(21, 122, 155);
}
.form{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px ;
  width: 400px;
}
input{
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button{
  background-color: blue;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 8px;
  width: 60%;
  margin-left: 50px;
  font-weight: bold;
}
#message{
  margin-top: 10px;
  color:rgb(95, 176, 14);
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #636060;
  color: #fff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  color: #fff;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ff7f50;
}
.container2{
  text-align: center;
  margin-bottom: auto;
}
.services-images{
  height: 400px;
  width: 500px;
  
}

h2{
text-align: center;
font-size: xx-large;
}
.abc{
  margin-left: 180px;
  width: 1500px;
  height: 800px;
  margin-bottom: 150px;
  
}
.image{
  margin-left: 100px;
  width: 500px;
  margin-bottom: 150px;
}
.para{
  font-size: x-large;
  width:auto;
}
.box{
  border-width: 5px;
  border-color: black;
  border: solid;
  width: 700px;
  border-radius: 15px;
  margin-left: 200px;
}
.contact{
  border: solid;
  width: 500px;
  margin-left: 650px;
  margin-top: 100px;
  background-color: rgb(198, 201, 201);
}
/* .con{
  background-image: url(assets/image/Spaces.jpeg);
  
  
} */