.container{
  background-color: rgb(9, 9, 60);
  color: aliceblue;
  display: flex;
  font-size: xx-large;
  margin: auto;
}
.nav{
  display: flex;
  color: #ffff;
}
.about{
  font-size: xx-large;
  text-align: center;
}
.p1{
  font-size: large;
  text-align: center;
}

.container3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: rgb(21, 122, 155);
}
.form{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px ;
  width: 400px;
}
input{
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button{
  background-color: blue;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 8px;
  width: 60%;
  margin-left: 50px;
  font-weight: bold;
}
#message{
  margin-top: 10px;
  color:rgb(95, 176, 14);
  font-weight: bold;
}


